<!-- app/views/quotes/new.html.erb -->

<h1>Créer un devis</h1>

<%= form_with(model: @quote, local: true) do |form| %>
  <!-- Ajoutez ici les champs du formulaire pour le devis -->
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :nom_de_la_personne %>
    <%= form.text_field :nom_de_la_personne %>
  </div>

  <div class="field">
    <%= form.label :adresse_email %>
    <%= form.email_field :adresse_email %>
  </div>

  <%= form.submit "Créer le devis" %>
<% end %>
