<div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-16 bg-gray-800 shadow-xl rounded-lg text-gray-900">
  <div class="rounded-t-lg h-32 overflow-hidden">
    <img class="object-cover object-top w-full" src='<%= asset_path('image4.png') %>' alt='Mountain'>
  </div>
  <div class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, alt: "Avatar de l'utilisateur", class: "object-cover object-center h-32 w-32" %>
    <% else %>
      <img src="/assets/default_avatar.png" alt="Avatar par défaut" class="object-cover object-center h-32 w-32">
    <% end %>
  </div>
  <div class="text-center mt-2">
    <h2 class="mt-2 font-bold text-white"><%= @user.email %></h2>
  </div>
  <div class="p-4 mt-2 flex flex-wrap justify-center gap-4">
    <div>
      <%= link_to "Modifier le profil", edit_profile_path, class: "bg-purple-400 hover:bg-purple-300 text-black font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm" %>
    </div>
    <div>
      <%= link_to "Modifier le Mot de passe", edit_user_registration_path, class: "bg-purple-400 hover:bg-purple-300 text-black font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm" %>
    </div>
    <div>
      <%= link_to "Mes Commandes", orders_path, class: "bg-gray-500 hover:bg-gray-400 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm" %>
    </div>
    <div>
      <%= button_to "Supprimer mon compte", registration_path("user"), data: { confirm: "Are you sure?", turbo_confirm: "Es-tu sûr??" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
</div>
