<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :password, "Nouveau mot de passe", class: "label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe", class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Mot de passe actuel", class: "label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Mettre à jour", class: "button is-primary" %>
  </div>
<% end %>
