<% if @cart_items.present? %>
  <% @cart_items.each do |cart_item| %>
    <div class="cart-item">
      <%= image_tag(cart_item.item.image_url) %>
      <p><%= cart_item.item.title %></p>
      <p>Quantité : <%= cart_item.quantity %></p>
      <p>Prix à l'unité : <%= cart_item.item.price %></p>
      <%= button_to "Supprimer du panier", delete_item_cart_path(@cart, cart_item), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
<% else %>
  <div class="empty-cart-message text-center text-red-600 text-4xl">
    Votre panier est vide.
  </div>
  <div class="text-center mt-4">
    <%= link_to "Revenir à la liste", items_path, class: "bg-custom-color hover:bg-gray-400 text-white font-semibold py-2 px-4 rounded-full" %>
  </div>
<% end %>



