<% if @cart_items.present? %>
  <% @cart_items.each do |cart_item| %>
    <div class="cart-item">
      <%= image_tag(cart_item.item.image_url) %>
      <p><%= cart_item.item.title %></p>
      <p>Quantité : <%= cart_item.quantity %></p>
      <p>Prix à l'unité : <%= cart_item.item.price %></p>
      <%= button_to "Supprimer du panier", delete_item_cart_path(@cart, cart_item), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>


