<section class="container mx-auto mt-10">
  <div class="flex flex-col-reverse sm:flex-row shadow-md my-10">
    <article class="w-full sm:w-3/4 bg-gray-800 px-4 py-4 sm:px-10 sm:py-10">
      <div class="flex justify-between border-b pb-4">
        <h1 class="font-semibold text-white text-xl sm:text-2xl">Votre Panier</h1>
        <h2 class="font-semibold text-white text-xl sm:text-2xl"><%= @cart_items.size %> Produits</h2>
      </div>
      <% if @cart_items.present? %>
        <div class="flex mt-4 mb-2 sm:mt-10 sm:mb-5">
          <h3 class="font-semibold text-white text-xs sm:text-sm uppercase w-2/5">Détails Produits</h3>
          <h3 class="font-semibold text-center text-white text-xs sm:text-sm uppercase w-1/5 sm:w-1/5 text-center">Prix</h3>
          <h3 class="font-semibold text-center text-white text-xs sm:text-sm uppercase w-1/5 sm:w-1/5 text-center">Quantité</h3>
          <h3 class="font-semibold text-center text-white text-xs sm:text-sm uppercase w-1/5 sm:w-1/5 text-center">Total</h3>
          <h3 class="font-semibold text-center text-white text-xs sm:text-sm uppercase w-1/5 sm:w-1/5 text-center">Supprimer</h3>
        </div>
        <% @cart_items.each do |cart_item| %>
          <div class="flex items-center -mx-2 px-2 sm:px-6 py-3 sm:py-5">
            <div class="flex w-2/5 sm:w-2/5">
              <div class="w-16 sm:w-20">
                <%= image_tag(cart_item.item.image_url, class: "h-16 sm:h-24") %>
              </div>
              <div class="flex flex-col justify-between ml-2 sm:ml-4 flex-grow">
                <span class="font-bold text-white text-xs sm:text-sm"><%= cart_item.item.title %></span>
              </div>
            </div>
            <span class="text-center w-1/5 sm:w-1/5 text-white font-semibold text-xs sm:text-sm"><%= number_to_currency(cart_item.item.price, unit: '€') %></span>
            <span class="text-center w-1/5 sm:w-1/5 text-white font-semibold text-xs sm:text-sm"><%= cart_item.quantity %></span>
            <span class="text-center w-1/5 sm:w-1/5 text-white font-semibold text-xs sm:text-sm"><%= number_to_currency(cart_item.quantity.to_i * cart_item.item.price, unit: '€') %></span>
            <div class="text-center w-1/5 sm:w-1/5">
              <%= button_to delete_item_cart_path(@cart, cart_item), method: :delete, class: "btn btn-danger text-white p-1" do %>
                <i class="fa-solid fa-trash text-red-800"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <a href="<%= items_path %>" class="flex font-semibold text-purple-400 text-xs sm:text-sm mt-4 sm:mt-10">
          <svg class="fill-current mr-2 text-purple-400 w-4 sm:w-5" viewBox="0 0 448 512">
            <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.090-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/>
          </svg>
          Continuer le shopping
        </a>
      <% else %>
        <div class="empty-cart-message text-center text-red-600 text-2xl mt-4 sm:mt-10">
            Votre panier est vide.
            <%= link_to "Revenir à la liste", items_path, class: "text-purple-400 font-bold rounded-full underline text-xs sm:text-sm" %>
        </div>
      <% end %>
    </article>

    <article id="summary" class="w-full sm:w-1/4 bg-gray-600 px-4 py-4 sm:px-8 sm:py-10">
      <h1 class="font-semibold text-white text-xl sm:text-2xl border-b pb-4">Récapitulatif</h1>
      <div class="flex justify-between mt-4 sm:mt-10 mb-2 sm:mb-5">
          <span class="font-semibold text-white text-xs sm:text-sm uppercase">Produits <%= @cart_items.size %></span>
          <span class="font-semibold text-white text-xs sm:text-sm"><%= number_to_currency(@cart_items.sum { |item| item.quantity.to_i * item.item.price }, unit: '€') %></span>
      </div>
      <div class="py-6 sm:py-10">
        <label for="promo" class="font-semibold text-white inline-block mb-3 text-xs sm:text-sm uppercase">Code Promo</label>
        <input type="text" id="promo" placeholder="! FONCTION A VENIR !" class="p-2 text-xs sm:text-sm w-full pointer-events-none" disabled>
      </div>
      <button class="bg-red-500 hover:bg-red-600 px-4 sm:px-5 py-2 text-xs sm:text-sm text-white uppercase pointer-events-none" disabled>Appliquer</button>
      <div class="border-t mt-4 sm:mt-8">
        <div class="flex font-semibold text-white justify-between py-3 text-xs sm:text-sm uppercase">
          <span>Total Commande</span>
          <span><%= number_to_currency(@cart_items.sum { |item| item.quantity.to_i * item.item.price }, unit: '€') %></span>
        </div>
        <% if @cart_items.sum { |item| item.quantity.to_i * item.item.price } > 0 %>
          <%= button_to "Payer", checkout_create_path(total: @cart_total), class: "bg-purple-400 font-semibold hover:bg-purple-300 py-2 text-xs sm:text-sm text-black uppercase w-full btn btn-primary", data: {turbo: false} %>
        <% else %>
          <%= button_to "Payer", "#", class: "bg-purple-400 font-semibold py-2 text-xs sm:text-sm text-black uppercase w-full btn btn-primary disabled", disabled: true %>
        <% end %>
      </div> 
    </article>
  </div>
</section>
