
<div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
    <button type="button" class="category-button text-purple-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-purple-500 dark:text-purple-500 dark:hover:text-black dark:hover:bg-purple-500 dark:bg-gray-900 dark:focus:ring-purple-800" data-category="all">All categories</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="pokemon">Pokémon</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="twitch">Twitch</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="logo">Logo</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="3d">3D</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="tattoo">Tattoo</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="illustrations">Illustrations</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="avatars">Avatars</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="autres">Autres</button>
    <button type="button" class="category-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-purple-400" data-category="collaborations">Collaborations</button>



</div>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
    <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/magi.jpg') %>" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_1.jpg') %>" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_2.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_3.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_9.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_10.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/Mew_two_neon.jpg') %>" alt="">
    </div>
            <div>
      <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/poke_unite.jpg') %>" alt="">
    </div>
    

            <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_5.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_6.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_8.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_11.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_13.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_14.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_15.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/img_19.jpg') %>" alt="">
    </div>
                <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/overlay3.jpg') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('overlay/sala.jpg') %>" alt="">
    </div>

                        <div>
      <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/hellistra1.jpg') %>" alt="">
    </div>
                        <div>
      <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/img_4.jpg') %>" alt="">
    </div>
                        <div>
      <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/malife2.jpg') %>" alt="">
    </div>
                        <div>
      <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/malife3.jpg') %>" alt="">
    </div>

    <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0100.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0113.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0146.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0151.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_01111.jpg') %>" alt="">
    </div>
            <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0123.jpg') %>" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0126.jpg') %>" alt="">
    </div>
        <div>
      <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3D/IMG_0127.jpg') %>" alt="">
    </div>

        <div>
      <img class="h-auto max-w-full rounded-lg category-image tattoo" src="<%= asset_path('tattoo/fond_tatoo_pivoine.jpg') %>" alt="">
    </div>
            <div>
      <img class="h-auto max-w-full rounded-lg category-image tattoo" src="<%= asset_path('tattoo/tatoo_cerise.png') %>" alt="">
    </div>
            <div>
      <img class="h-auto max-w-full rounded-lg category-image tattoo" src="<%= asset_path('tattoo/tatoo.png') %>" alt="">
    </div>

                <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/arbre.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/bird.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/canyon.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/desert.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/forest.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/IMG_0071.jpg') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/jap.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/nuit_noir.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/plaine_2.png') %>" alt="">
    </div>
                    <div>
      <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/plaine.png') %>" alt="">
    </div>
                            <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/hfhg.png') %>" alt="">
    </div>
                                <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_22.jpg') %>" alt="">
    </div>
                                <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_23.jpg') %>" alt="">
    </div>
                                <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_24.jpg') %>" alt="">
    </div>
                                <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_25.jpg') %>" alt="">
    </div>
                                <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_26.jpg') %>" alt="">
    </div>
                                <div>
      <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_27.jpg') %>" alt="">
    </div>


    <div>
      <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/3.jpg') %>" alt="">
    </div>
                                    <div>
      <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/6.jpg') %>" alt="">
    </div>
                                    <div>
      <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/mexique.jpg') %>" alt="">
    </div>
                                    <div>
      <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/casque.jpg') %>" alt="">
    </div>
                                        <div>
      <img class="h-auto max-w-full rounded-lg category-image autres" src="<%= asset_path('autres/IMG_0057.jpg') %>" alt="">
    </div>
                                        <div>
      <img class="h-auto max-w-full rounded-lg category-image autres" src="<%= asset_path('autres/IMG_0059.jpg') %>" alt="">
    </div>
                                        <div>
      <img class="h-auto max-w-full rounded-lg category-image autres" src="<%= asset_path('autres/IMG_0069.jpg') %>" alt="">
    </div>
</div>


