<section class="container mx-auto flex items-center justify-center mt-10">
  <h1 class="text-4xl font-bold p-4 border-4 border-gray-500 rounded inline-block">PORTFOLIO</h1>
</section>

<section class="flex items-center justify-center py-4 md:py-8 mt-12 flex-wrap">
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="pokemon">Pokémon</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="twitch">Twitch</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="logo">Logo</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="3d">3D</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="tattoo">Tattoo</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="illustrations">Illustrations</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="avatars">Avatars</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="autres">Autres</button>
  <button type="button" class="category-button hover:text-purple-400 bg-gray-800 focus:ring-4 rounded-full font-bold px-5 py-2.5 text-center mr-3 mb-3 text-white focus:ring-purple-400" data-category="collaborations">Collaborations</button>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/magi.jpg') %>" alt="Magicarpe et léviator entremélé style néon">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_1.jpg') %>" alt="pokéball ouverte environnement aquatique et carapuce">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_2.jpg') %>" alt="pokéball ouverte environnement volcanique et dracaufeu">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_3.jpg') %>" alt="pokéball ouverte environnement florale et deux bulbizarre">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_9.jpg') %>" alt="les évolutions en néon de abra et fantominus">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/img_10.jpg') %>" alt="évolution néon de salamèche">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/Mew_two_neon.jpg') %>" alt="mew et mewtwo style néon">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image pokemon" src="<%= asset_path('pokemon/poke_unite.jpg') %>" alt="plusieurs pokémon qui font la sieste dans un lit sur ronflex">
  </article>
</section>
<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_6.jpg') %>" alt="émotes twitch pour valouzz chien">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_8.jpg') %>" alt="badges twitch masque japonais">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_11.jpg') %>" alt="badges twitch burgers">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_13.jpg') %>" alt="badges twitch dofus">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_14.jpg') %>" alt="émotes twitch lance roquette, kinder, chien">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_15.jpg') %>" alt="émotes twitch variées">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/img_19.jpg') %>" alt="overlay scène twitch geek">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image twitch" src="<%= asset_path('twitch/sala.jpg') %>" alt="émotes twitch salamèche">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/hellistra1.jpg') %>" alt="logo voiture mustang sur route devant panneau en néon">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/malife2.jpg') %>" alt="logo serveur role play fond building">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image logo" src="<%= asset_path('logo/malife3.jpg') %>" alt="logo serveur role play fond ville couhé de soleil et palmier">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0100.jpg') %>" alt="rendu 3D d'un temple japonais">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0113.jpg') %>" alt="rendu 3D d'un pokemon osselait devant un fantomis sur un lac">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0146.jpg') %>" alt="rendu 3D de pokeball a coté d'une nintendo switch">
 </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0151.jpg') %>" alt="rendu 3D d'un tournesol">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_01111.jpg') %>" alt="rendu 3D d'une maison champetre">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0123.jpg') %>" alt="rendu 3D d'une maison/chalet en bois">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0126.jpg') %>" alt="rendu 3D de l'intérieur d'une maison en cours de création">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image 3d" src="<%= asset_path('3d/IMG_0127.jpg') %>" alt="rendu 3D de l'intérieur d'une maison avec bibliothèque et vitraux">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image tattoo" src="<%= asset_path('tattoo/fond_tatoo_pivoine.jpg') %>" alt="dessin tattoo pivoine avec forme géométrique ronde">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image tattoo" src="<%= asset_path('tattoo/tatoo_cerise.png') %>" alt="dessin tattoo forme géométrique rond avec fleur bleue a l'intérieur">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image tattoo" src="<%= asset_path('tattoo/tatoo.png') %>" alt="dessin tattoo forme triangulaire avec fleurs en arrière plan">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/arbre.png') %>" alt="illustration d'un arbre géant au milieu d'un lac de nuit">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/bird.png') %>" alt="illustration d'un oiseau sur une branche entouré de feuilles">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/canyon.png') %>" alt="illustration d'un canyon avec lac et arbres">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/desert.png') %>" alt="illustrationd'un désert avec lac et plaines">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/forest.png') %>" alt="illustration de l'intérieur d'une foret dense">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/IMG_0071.jpg') %>" alt="illustration d'une maison style hobbit avec pokemon dans les airs">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/jap.png') %>" alt="illustration d'une ville inspiration japon avec néons">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/nuit_noir.png') %>" alt="illustration d'une baleine et méduses volantes derrière un gros chateau sur flan de montagne">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image illustrations" src="<%= asset_path('illustrations/plaine.png') %>" alt="illustration d'une plaine verdoyant et lac devant une montagne">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/hfhg.png') %>" alt="avatar d'une personne avec casquette tenant une planete dans la main">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_22.jpg') %>" alt="avatar d'une personne avec logo et chapeau one piece">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_23.jpg') %>" alt="avatar d'une personne se tenant la nuque">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_24.jpg') %>" alt="avatar d'une personne rattrapant un crayon en vol">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_25.jpg') %>" alt="avatar d'une personne avec un pikachu sur l'épaule">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_26.jpg') %>" alt="avatar d'une personne souriante">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image avatars" src="<%= asset_path('avatars/img_27.jpg') %>" alt="avatar d'une personne avec lunette sur fond rouge rond">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/3.jpg') %>" alt="chien regardant un burger">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/mexique.jpg') %>" alt="pilote de f4 avec casque déssiné avec cosmonaute">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image collaborations" src="<%= asset_path('collab/casque.jpg') %>" alt="chien avec sombrero et ambiance mexique">
  </article>
</section>

<section class="grid grid-cols-2 md:grid-cols-3 gap-4 ml-4 mr-12 mb-4">
  <article>
    <img class="h-auto max-w-full rounded-lg category-image autres" src="<%= asset_path('autres/IMG_0057.jpg') %>" alt="dessin d'une femme devant une fenetre avec cadre japonais">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image autres" src="<%= asset_path('autres/IMG_0059.jpg') %>" alt="dessin d'une femme avec vêtement et sable japonais">
  </article>
  <article>
    <img class="h-auto max-w-full rounded-lg category-image autres" src="<%= asset_path('autres/IMG_0069.jpg') %>" alt="dessin d'une chouette sur une branche avec des moutons en arrière plan">
  </article>
</section>
