<section id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= item.image %>
  </p>

  <p>
    <strong>Alt:</strong>
    <%= item.alt %>
  </p>
</section>
