
<div class="p-2">
  <div class="rounded-lg shadow-md overflow-hidden bg-gray-800 mt-20 mb-20 ml-20 mr-20">
    <%= image_tag @item.image_url, alt: @item.title, class: "w-full h-auto" %>
    <div class="p-4">
      <h2 class="text-lg text-white font-semibold mb-2"><%= @item.title %></h2>
      <p class="text-white mb-2"><%= @item.description %></p>
      <p class="text-green-600 font-semibold">€<%= @item.price %></p>
      <div class="mt-2">
        <% if user_signed_in? %>
          <%= form_tag({ controller: "carts", action: "create" }, method: :post, class: "flex items-center") do %>
            <%= hidden_field_tag "item_id", @item.id %>
            <label for="quantity" class="text-white font-semibold mr-2">Quantité:</label>
            <%= number_field_tag "quantity", 1, min: 1, class: "w-12 text-center border rounded-md", id: "quantity" %>
            <%= submit_tag "Ajouter au panier", class: "bg-purple-400 hover:bg-purple-300 text-black font-semibold py-2 px-4 rounded-full ml-2" %>
          <% end %>
        <% end %>
        <%= link_to "Revenir à la liste", items_path, class: "bg-custom-color hover:bg-gray-400 text-white font-semibold py-1 px-2 rounded-full text-xs" %>
      </div>
    </div>
  </div>
</div>
