<div class="p-4">
  <div class="rounded-lg shadow-md overflow-hidden card-bg-custom-color mt-12 mb-12 ml-12 mr-12">
    <%= image_tag @item.image_url, alt: @item.title, class: "w-full h-auto" %>
    <div class="p-4">
      <h2 class="text-lg font-semibold mb-2"><%= @item.title %></h2>
      <p class="text-gray-700 mb-2"><%= @item.description %></p>
      <p class="text-green-600 font-semibold">€<%= @item.price %></p>
      <div class="mt-4">
        <%= link_to "Revenir à la liste", items_path, class: "bg-custom-color hover:bg-gray-400 text-white font-semibold py-2 px-4 rounded-full" %>
        <% if user_signed_in? %>
          <%= button_to({ controller: "carts", action: "create", item_id: @item.id }, method: :post, class: "bg-custom-color hover:bg-gray-400 text-white font-semibold py-2 px-4 rounded-full") do %>
            <i class="fa-solid fa-cart-plus"></i> Ajouter au panier
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

