<hr class="mx-auto border-t-2 border-black w-3/4 mt-10 mb-10">

<section class="container mx-auto flex items-center justify-center mt-20 mb-10">
  <h1 class="text-4xl font-bold p-4 border-4 border-gray-500 rounded inline-block">Quelques exemples de mes réalisations :</h1>
</section>

<section class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
  <article class="-m-1 flex flex-wrap md:-m-2">
    <div class="flex w-1/2 flex-wrap">
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="<%= asset_path('image6.jpg') %>" />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="<%= asset_path('tatoo_dragon.png') %>" />
      </div>
      <div class="w-full p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="<%= asset_path('desert.png') %>" />
      </div>
    </div>
    
    <div class="flex w-1/2 flex-wrap">
      <div class="w-full p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="<%= asset_path('img_12.jpg') %>" />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="<%= asset_path('3d_1.jpg') %>" />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center"
          src="<%= asset_path('IMG_0146.jpg') %>" />
      </div>
    </div>
  </article>
</section>
