<nav class="bg-gray-800 top-0 left-0 w-full z-10">
  <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <article class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <div class="sm:hidden" id="mobile-menu-button">
          <button aria-controls="mobile-menu" class="text-gray-300 hover:text-white focus:outline-none focus:text-white">
            <i class="fas fa-bars text-2xl"></i>
          </button>
        </div>
      </div>
      <div class="flex items-center space-x-4 ml-4">
        <%= link_to root_path do %>
          <img class="h-8 w-auto" src="<%= asset_path('rust.png') %>" alt="Rustoff logo ampoule">
        <% end %>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <% if user_signed_in? && current_user.admin? %>
              <a href="<%= dashboard_path %>" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
            <% end %>
            <a href="<%= items_path %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Boutique</a>
            <a href="<%= portfolio_path %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Portfolio</a>
            <a href="<%= faq_path %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">FAQ</a>
          </div>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <% if user_signed_in? %>
          <%= link_to cart_path(current_user.cart), class: "badge text-gray-300 hover:text-white text-xl mr-4 cursor-pointer", title: "Panier" do %>
            <i class="fa-solid fa-cart-shopping"></i>
            <% if current_user.cart.cart_items.any? %>
              <span> <%= current_user.cart.cart_items.count %></span>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to cart_path, class: "badge text-gray-300 hover:text-white text-xl mr-4 cursor-pointer", title: "Panier" do %>
            <i class="fa-solid fa-cart-shopping"></i>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to "Mon Profil", profile_path(current_user), class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
          <%= form_tag(destroy_user_session_path, method: :delete, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium") do %>
            <%= submit_tag "Se déconnecter", class: "hover:text-gray-200" %>
          <% end %>
        <% else %>
            <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" href="<%= new_user_session_path %>">Se connecter</a>
            <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" href="<%= new_user_registration_path %>">S'inscrire</a>
        <% end %>
      </div>
    </article>
  </section>
  <section class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <% if user_signed_in? && current_user.admin? %>
        <a href="<%= dashboard_path %>" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
      <% end %>
      <a href="<%= items_path %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Boutique</a>
      <a href="<%= portfolio_path %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Portfolio</a>
      <a href="<%= faq_path %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">FAQ</a>
    </div>
  </section>
</nav>
